/* Source: https://www.brython.info/doc/doc_brython.css */

@charset 'utf-8';
@-webkit-viewport{width:device-width}
@-moz-viewport{width:device-width}
@-ms-viewport{width:device-width}
@-o-viewport{width:device-width}
@viewport{width:device-width}

:root {
  --main-bg-color: black;
  --header-color: #cc3300;
  --selected-header-color: black;
  --text-color: white;
}

@font-face{
    font-family: "libra_bt";
    src: url("../fonts/libra_bt.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

@font-face{
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Light.otf") format("truetype");
    font-weight: normal;
    font-style: normal
}

body {
  font-family:Montserrat, Arial;
  font-size:0.9em;
  margin: 0px;
  background-color: var(--main-bg-color);
  color: var(--text-color);
}

a.navig:link,a:link,a:hover,a:visited,a.navig:visited {
  color:var(--text-color);
  text-decoration:none;
}

a.banner{
  border-bottom-style: solid;
  border-bottom-color: var(--header-color);
  border-bottom-width: 6px;
}

a.banner:link,a.banner:visited {
  background-color:var(--header-color);
  color:var(--selected-header-color);
  display:block;
  font-size:1em;
  line-height:30px;
  padding:1.3em;
  text-align:center;
  text-decoration:none;
}

a.banner:hover,a.banner:active {
  background-color:var(--header-color);
  border-bottom-color:var(--selected-header-color);
  color:var(--main-bg-color);
}

a.selected_header{
  border-bottom-color:var(--selected-header-color);
}

#content a{
    text-decoration: underline;
}

#banner {
  padding-bottom:15px;
  width:100%
}

button{
    background-color: var(--header-color);
    border-color: var(--header-color);
    color: var(--selected-header-color);
    border: 1px solid;
    padding: 0.2em;
}
button:hover{
    border-color: var(--selected-header-color);
}
button:disabled{
    cursor: not-allowed;
}

#console {
  background-color:#000;
  color:var(--text-color);
  font-size:12px;
  font-weight:700
}

#content {
  padding-left:5%;
  padding-right:5%
}

a.glink {
  background-color:#FFF;
  color:#000;
  text-decoration:underline;
}

h1.brython{
    font-family: libra_bt;
    font-size: 300%;
}

td.logo {
  font-family: libra_bt;
  background-color:var(--header-color);
  padding-left:20px;
  width:15%;
}

a.logo {
  text-decoration: none;
  font-size: 3em;
}

td.top_menu {
  width:10%
}

td.language {
  background-color:#9fa8a3;
  text-align:right
}

select.language {
  border-width:0;
  color:var(--text-color);
  font-size:0.8em;
  margin-left:2em;
  background-color: var(--main-bg-color);
}

.pycode{
    font-size: 0.9em;
    display: inline-block;
    background-color:var(--text-color);
    color: var(--main-bg-color);
    padding:3px 8px 8px 8px;
    border-style:solid;
    border-width:1px;
    border-color:#888;
    border-radius: 10px;
    width:auto;
    font-family: "Consolas";
}

.xml{
    font-size: 0.9em;
    display: inline-block;
    background-color:#F0F0F0;
    padding:3px 8px 8px 8px;
    border-style:solid;
    border-width:1px;
    border-color:#888;
    border-radius: 10px;
    color:#114;
    width:auto;
}

.console{
    font-size: 0.9em;
    display: inline-block;
    background-color:#000;
    padding:3px 8px 8px 8px;
    color:#fff;
    width:auto;
}

li {
  margin-bottom:3px
}

pre{
    font-family: Consolas;
}
pre.marked {
  color:var(--header-color);
  font-size: 12px;
}

/* colors for highlighted Python code */

span.python-string{
    color: blue;
}
span.python-comment{
    color: green;
}
span.python-keyword{
    color: purple;
}
span.python-builtin{
    color: #963;
}

code {
  color:var(--header-color);
  font-family: Consolas;
}

em {
  color:var(--header-color);
  font-family:courier
}

strong {
  color:var(--header-color);
  font-family:courier;
  font-size: 1em;
}

#main {
  border-color:green;
  border-style:solid;
  border-width:1px;
  min-height:20px;
  min-width:200px;
  padding:5px
}


/* Breakpoint for all color devices of < 999px width */
@media all and (color) and (max-width: 999px) {

    #banner {
        padding-bottom: 0
    }

    a.banner:link,a.banner:visited {
        font-size: 2em;
        line-height: 4em;
        padding: 0
    }

    #console {
        font-size: 10px
    }

    #content {
        padding: 0
    }

    img.logo, td.logo {
        display: none
    }

}
