.centered {height:200px;width:400px;position:fixed;top:50%;left:50%;margin-top:-100px;margin-left:-200px;}
.ui_table  {border-collapse:collapse;border-spacing:0;height:100%;width:100%; position: absolute; top: 0; bottom: 0; left: 0; right: 0;border:1px solid}
.ui_table td{padding:10px 5px;border-style:solid;border-width:1px;border-color:black;}
.ui_table th{font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;border-color:black;}
.ui_table .ui_cell{border-color:#33cc33;text-align:left;vertical-align:top} 

.noevents {pointer-events:none}
textarea {background-color:#000;color:#fff;font-size:14px;overflow:auto}
button {cursor:pointer}
